<!--
   Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic 5 groceryee app
  Created : 10-Sep-2020
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2020-present initappz.
 -->
<div class="container">
  <div class="row">
    <div style="display: flex;flex-direction: row;justify-content: flex-start;">
      <a mdbWavesEffect (click)="back()">
        <mdb-icon fas icon="arrow-left" class="mr-1"></mdb-icon>
      </a>
    </div>
  </div>
  <div *ngIf="!loaded" style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
    <div class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="main_content_div" *ngIf="loaded">
    <p class="titles"> {{util.getString('Orders')}} </p>
    <div class="desc_div">
      <div *ngIf="orders?.length" class="border_bottom">
        <div *ngFor="let item of orders">
          <p class="storeName">
            <span class="name"> {{getStoreName(item.id)}} </span>
            <span class="status"> {{getOrderStatus(item.id)}} </span>
          </p>
          <!-- <p *ngFor="let order of item.order;let ol = index" class="items">
            <span>{{order.name}} -
              <span *ngIf="order.have_gram === '1'"> {{order.gram}} {{util.getString('grams')}} </span>
              <span *ngIf="order.have_kg === '1'"> {{order.kg}} {{util.getString('kg')}} </span>
              <span *ngIf="order.have_liter ==='1'"> {{order.liter}} {{util.getString('ltr')}} </span>
              <span *ngIf="order.have_ml ==='1'"> {{order.ml}} {{util.getString('ml')}} </span>
              <span *ngIf="order.have_pcs === '1'"> {{order.pcs}} {{util.getString('pcs')}} </span>
            </span>
            <span>X {{order.quantiy}}</span>
          </p> -->
          <p *ngFor="let order of item.order;let ol = index" class="items">
            <span *ngIf="util.direction ==='ltr'">{{order.name}} -
              <span *ngIf="order.have_gram === '1'"> {{order.gram}} grams </span>
              <span *ngIf="order.have_kg === '1'"> {{order.kg}} kg </span>
              <span *ngIf="order.have_liter ==='1'"> {{order.liter}} ltr </span>
              <span *ngIf="order.have_ml ==='1'"> {{order.ml}} ml</span>
              <span *ngIf="order.have_pcs === '1'"> {{order.pcs}} pcs </span>
              <span>
                {{util.currecny}} {{order.discount ==='0' ? order.original_price : order.sell_price}} 
              </span>
            </span>
            <span *ngIf="util.direction ==='rtl'">
              <span *ngIf="order.have_gram === '1'"> grams {{order.gram}}  </span>
              <span *ngIf="order.have_kg === '1'"> kg {{order.kg}}  </span>
              <span *ngIf="order.have_liter ==='1'"> ltr {{order.liter}}  </span>
              <span *ngIf="order.have_ml ==='1'"> ml {{order.ml}} </span>
              <span *ngIf="order.have_pcs === '1'"> pcs {{order.pcs}}  </span>
              <span>
                - {{util.currecny}} {{order.discount ==='0' ? order.original_price : order.sell_price}} 
              </span>
              <span> - {{order.name}} </span>
            </span>
            <!-- <span *ngIf="order.size ==='0'">{{order.name}} -
              <span *ngIf="order.have_gram === '1'"> {{order.gram}} {{util.getString('grams')}} </span>
              <span *ngIf="order.have_kg === '1'"> {{order.kg}} {{util.getString('kg')}} </span>
              <span *ngIf="order.have_liter ==='1'"> {{order.liter}} {{util.getString('ltr')}} </span>
              <span *ngIf="order.have_ml ==='1'"> {{order.ml}} {{util.getString('ml')}} </span>
              <span *ngIf="order.have_pcs === '1'"> {{order.pcs}} {{util.getString('pcs')}} </span>
            </span>
            <span *ngIf="order.size ==='1'">
              {{order.name}} - <span> {{order.variations[0].items[order.variant].title}} </span>
            </span> -->
            <span *ngIf="util.direction =='ltr'" style="float: right;">X {{order.quantiy}}</span>
            <span *ngIf="util.direction =='rtl'" style="float: left;">{{order.quantiy}}X</span>

            <span *ngIf="order.variations[0]">
              <span *ngFor="let addon of order.variations[0].items;let al = index">
                <span *ngIf="util.direction ==='rtl' && addon.quantity !=0" style="display: block;"> 
                 <span style="margin-right: 5px;">{{addon.price}} {{util.currecny}}</span>
                 <span style="float: right;">{{addon.title}} - </span>
                 <span class="quantity" style="float: left;">{{addon.quantity}}X</span>
                </span>
                <!-- <span *ngIf="util.direction == 'rtl'" style="display: block;">
                  <span *ngIf="addon.quantity !=0">{{addon.price}} {{util.currecny}}</span>
                  <span *ngIf="addon.quantity !=0"> - {{addon.title}}</span>
                  <span *ngIf="addon.quantity !=0" class="quantity" style="float: left;">{{addon.quantity}}X</span>
                </span> -->
                <span *ngIf="util.direction =='ltr'" style="display: block;">
                  <span>{{addon.title}} <span *ngIf="addon.quantity !=0">
                    </span> </span>
                    <span *ngIf="addon.quantity !=0"> - {{util.currecny}} {{addon.price}}</span>
                  <span *ngIf="addon.quantity !=0" style="float: right;">X {{addon.quantity}}</span>
                </span>
              </span>
            </span>
          </p>
        </div>
      </div>
    </div>

    <div class="flex_div">
      <p>{{util.getString('Deliver to')}} </p>
      <p class="values"> {{util.getString(orderAt)}}</p>
    </div>
    <div class="flex_div" *ngIf="orderAt ==='home'">
      <p class="values">
        <mdb-icon fas icon="map-marker-alt"></mdb-icon> {{address}}
      </p>

    </div>

    <p class="titles">{{util.getString('Basic Details')}} </p>
    <div class="flex_div">
      <p>{{util.getString('Order ID')}} </p>
      <p class="values">{{id}}</p>
    </div>

    <div class="flex_div">
      <p>{{util.getString('Payment Status')}} </p>
      <p class="values">  {{util.getString(cashPaid)}} </p>
    </div>

    <div class="flex_div">
      <p>{{util.getString('Payment Method')}} </p>
      <p class="values">  {{util.getString(payMethod)}}  </p>
    </div>

    <div class="flex_div">
      <p>{{util.getString('Delivery On')}} </p>
      <p class="values"> {{ util.getString(datetime,true)}}</p>
    </div>


    <p class="titles">{{util.getString('Order Tracking')}} </p>

    <div class="tracking_div">

      <div class="left">
        <span *ngFor="let item of orderDetail"
          style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
          <div class="line_div" [class.line_div_darkgray]="item.status === 1"></div>
          <mdb-icon *ngIf="item.status === 1" fas icon="check-circle"></mdb-icon>
        </span>

      </div>

      <div class="right">
        <span *ngFor="let item of orderDetail"
          style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
          <div class="line_div">
            <p [class.round_div_red]="item.status === 1" [class.round_div_darkgray]="item.status === 1">
              {{ util.getString(item.time,true)}}</p>
          </div>
          <div class="round_div_gray" [class.round_div_red]="item.status === 1"
            [class.round_div_darkgray]="item.status === 1">
            {{util.getString(item.default)}} {{item.user}}
          </div>
        </span>
      </div>

    </div>
    
    <p class="titles" *ngIf="acceptedDriverInfo && acceptedDriverInfo.length">{{util.getString('Driver Informations')}} </p>

    <div class="card_div" *ngIf="acceptedDriverInfo && acceptedDriverInfo.length ">
      <div class="resto_detail">
        <div class="back_image"
          [ngStyle]="{'background-image':'url('+api.mediaURL+acceptedDriverInfo[0].cover+'),url(assets/imgs/closed.png)'}"></div>
        <div style="margin-left: 10px;" (click)="contanctDriver(acceptedDriverInfo[0])">
          <p class="res_name">{{acceptedDriverInfo[0].first_name}} {{acceptedDriverInfo[0].last_name}}</p>
          <p class="res_location">
            <mdb-icon fas icon="map-marker-alt"></mdb-icon> {{acceptedDriverInfo[0].email}}
          </p>
          <p class="res_location">
            <mdb-icon fas icon="map-marker-alt"></mdb-icon> {{acceptedDriverInfo[0].mobile}}
          </p>
        </div>
      </div>
    </div>


    <div *ngIf="stores && stores?.length">
      <p class="titles" *ngIf="stores">{{util.getString('Stores Informations')}} </p>
      <div *ngFor="let item of stores">
        <div class="card_div">
          <div class="resto_detail">
            <div class="back_image"
              [ngStyle]="{'background-image':'url('+api.mediaURL+item.cover+'),url(assets/imgs/closed.png)'}">
            </div>
            <div style="margin-left: 10px;" (click)="contanct(item)">
              <p class="res_name">{{item.name}}</p>
              <p class="res_location">
                <mdb-icon fas icon="map-marker-alt"></mdb-icon> {{item.email}}
              </p>
              <p class="res_location">
                <mdb-icon fas icon="map-marker-alt"></mdb-icon> {{item.mobile}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="cancle-button">
  <button  *ngIf="buttonVisible" class="reject" (click)="changeStatus()" >{{util.getString('Cancel Order')}} 00:{{lastSecond}}</button>
</div>